Month
	<select name="month">
		<option value=""></option>
	<%for (var i =0; i<monthNames.length; i++){%>
		
		<option value="<%=(i+1)%>"><%=monthNames[i]%></option>
		<%}%>
	</select>
	<input type = "submit">
</form>

<!-- Log in info from header -->
		<%if (currentUser) {%>
		<form action="/favoriteList">
			<input type="submit" value="Go to Festival Favorites">
		</form>
		<a href="/logout" class="btn btn-primary">Logout</a>
		<%} else {%>
		<a href="/login" class="btn btn-primary">Login</a>
		<a href="/signup" class="btn btn-primary">Signup</a>
		<%}%>


<div id="countryTitle"> Country </div> 
    <select multiple class="chzn-select form-control" id="country" name="country">
     <option value=""></option>
     <%for (var i =0; i<uniqueCountries.length; i++){%>
     <option value="<%=uniqueCountries[i]%>"><%=uniqueCountries[i]%></option>
     <%}%>
   </select>

    Category <select class="form-control categoryClass" name="category">
     <option value=""></option>
     <%for (var i =0; i<category.length; i++){%>
     <option value="<%=category[i]%>"><%=category[i]%></option>
     <%}%>
   </select> 
