<% include header %>
<div class ="container">
<h2> Name: <%=oneFestival.name%> </h2>
<div class="row" id="info">
    <div class=".col-md-offset-6 paragraph">
	<li> Country: <%=oneFestival.country%></li> 
	<li> Category: <%=oneFestival.category%></li> 
	<li> Fee <%=oneFestival.fee%></li> 
	<li> Cost: <%=oneFestival.cost%></li> 
	<li> Submissions Open: <%=oneFestival.submissionsOpen%></li> 
	<li> First Deadline: <%=oneFestival.firstDeadline%></li> 
	<li> Last Deadline: <%=oneFestival.lastDeadline%></li> 
	<li> Winners Announcement: <%=oneFestival.winnersAnnounsment%></li> 
	<li> Festival Start: <%=oneFestival.festivalStart%></li> 
	<li> Festival End: <%=oneFestival.festivalEnd%></li>
	<li> Logo Url: <%=oneFestival.logoUrl%></li> 
	<li> Site Url: <%=oneFestival.siteUrl%></li>


<%if (festivalFound) {%>
	Already in!
<%} else if (currentUser) {%>
<form action = '/favoriteList' method = 'post'>
			<input type="hidden" name="name" value="<%=oneFestival.name%>">
			<input type="hidden" name="country" value="<%=oneFestival.country%>">
			<input type="hidden" name="fee" value="<%=oneFestival.fee%>">
      <input type="hidden" name="category" value="<%=oneFestival.category%>">
			<input type="hidden" name="lastDeadline" value="<%=oneFestival.lastDeadline%>">
           <input type = 'submit' value = 'Favorite this Festival'>
         </form>
<%} else {%>
Please log in to save this festival
<%}%>
</div>
</div>
</div>

<div id="carousel-example-generic" class="carousel slide slideTwo" data-ride="carousel">
<%for(var i =1; i<data.length; i++){%>
  <%if(data[i] != undefined){%>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
       <img id="imageTest" src= "<%= data[0].images.standard_resolution.url%>">
      <div class="carousel-caption">
    
      </div>
    </div>
    <%for(var i =1; i<data.length; i++){%>
    <div class="item">
      <img id="imageTest" src= "<%= data[i].images.standard_resolution.url%>">
      <div class="carousel-caption">
        
      </div>
    </div>
    <%}%>
<%}%>
    
  </div>


  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <br>
  <div class="paragraph"></div>
</div>
<%}%>
</div>


<% include footer %>